.categories{
    padding: 15px 30px;
}

.Cash{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-bottom: 15px;
}

.Cash article{
    border: 1px solid rgb(179, 168, 168);
    display: flex;
    border-radius: 5px;
    padding: 10px 10px;
    justify-content: center;
    gap: 10px;
    width: 13rem;
}

.Cash article img{
    border: 1px solid grey;
    border-radius: 50%;
    padding: 3px;
}

.Cash article .cashflow {
    width: 33px;
    background-color: #FDF6ED;
}

.Cash article .revenue {  
  background-color: #D6D6F6;
}

.Cash article .inflow {
   width: 33px;
   height: 33px;
  background-color: #E5F8ED;
}

.Cash article .outflow {
    width: 33px;
    height: 33px;
   background-color: #FCEAEA;
}

.categories .stakeholders{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.categories .stakeholders article{
    border: 1px solid rgb(192, 185, 185);
    width: 13rem;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px; 
    border-radius: 5px;
}

.categories .stakeholders article div:first-child{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

.categories .stakeholders article div h4 {
    font-size: 19px;
}

.categories .stakeholders article div p{
    font-size: 13px;
}

.categories .stakeholders .users{
    background-color: #FDF6ED;
}

.categories .stakeholders .users img{
    width: 33px;
}

.categories .stakeholders .customers{
  background-color: #D6D6F6;
}

.categories .stakeholders .agents{
  background-color: #E5F8ED;
}

.categories .stakeholders .agents img{
    width: 33px;
}

.categories .stakeholders .pharmacy{
  background-color: #FCEAEA;
}

.categories .stakeholders .pharmacy img{
    width: 33px;
}

.productTable{
    padding: 8px 30px 0px 30px;
}

.productTable > div:first-child{
    display: flex;
    justify-content: space-between;

}

.table{
    border: 1px solid grey;
    padding: 5px 20px;
    border-bottom: white;
}

.table .tableheader{
   display: flex;
   justify-content: space-between;
}

.table .tableheader .tableButtons{
    display: flex;   
}

.table  .tableList{
display: flex;
flex-direction: column;
 gap: 15px;
}

.table .tableList div:first-child{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    
}


.table .tableList div{
    border-bottom: 1px solid gray;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
}

.table .tableList div img {
    width: 10px;
    border: 2px solid;
}

.searchtable{
    border-radius: 5px;
    padding: 2px 5px;
    
    display: flex;
    background-color: #F3E3E2;
    align-items: center;
}

.searchtable > img{
    font-size: 3px;
    width: 22px;
    padding-bottom: 0px;
    padding-right: 4px;
    padding-left: 2px;
}

.searchtable input {
   padding-top: 0px;
   align-items: center;
   padding-bottom: 0px;
   font-size: 15px;
   width: 250px; 
   color: #000040;
   background-color: #F3E3E2;
   border: none;

}

.searchtable input::placeholder{
   margin-bottom: 14px;
}

























